@model IEnumerable<Domain.Employee>

@{
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 20);
}


<table class="table" > 
        <td>
        @grid.GetHtml(
            htmlAttributes: new {id = "table"},
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",

            columns: new[]
            {

                grid.Column("FirstName", null),
                grid.Column("LastName", "Last Name"),
                grid.Column("Adress", "Adress"),
                grid.Column("Phone", "Phone"),
                grid.Column("Salary", "Salary"),
                grid.Column("DataAngajarii", "Hire Day"),

                //add edit, delete links

                grid.Column(columnName: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", new {id = item.id})),
                grid.Column(columnName: "Delete", format: (item) => Html.ActionLink("Delete", "Delete", new {id = item.id}, new {onclick = "return confirm('Are you sure you want to delete this record?');"}))
            }
            )
            </td>
    
</table>