@using System.Web.UI.WebControls
@model IEnumerable<Domain.TaxiCar>

@{
    var grid = new WebGrid(source: Model, canPage: true, canSort: true, rowsPerPage: 20);
}

<table class="table">

    <td>


        @grid.GetHtml(
            htmlAttributes: new { id = "table" },
            fillEmptyRows: false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: new[]
            {
                grid.Column("Plate", "Plate"),
                grid.Column("UniquieId", "VIN"),
                grid.Column("Brand", "Brand"),
                grid.Column("Price", "Price"),
             

                //add edit, delete links

                grid.Column(columnName: "Edit", format: (item) => Html.ActionLink("Edit", "Edit", new {id = item.id}, new { htmlAttributes = new { @class = "btn btn-success" } })),
                grid.Column(columnName: "Delete", format: (item) => Html.ActionLink("Delete", "DeleteTaxi", new {id = item.id}, new {onclick = "return confirm('Are you sure you want to delete this record?');"}))
            }
            )
    </td>
</table>

